*.json
*.npy
*.png
*.pyc
python2_htm_docker/docker_dir/correctly_classified
python2_htm_docker/docker_dir/misclassified
python2_htm_docker/docker_dir/prediction_data
python2_htm_docker/docker_dir/results
python2_htm_docker/docker_dir/training_and_testing_data
testing_ground.py
data/
duty_cycle_results
decoder_reconstructed_images
results/
predicted_images/
saved_networks/
__pycache__/
